@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cinzel', Arial, Helvetica, sans-serif;
    min-height: 100vh;
    color: white;
    background:
        radial-gradient(circle at top, #4d0000 0%, #220000 40%, #090909 100%);
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: rgba(15, 0, 0, 0.75);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid rgba(180, 0, 0, 0.5);
    box-shadow: 0 0 20px rgba(120, 0, 0, 0.3);
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    color: #ff2a2a;
    text-shadow:
        0 0 8px rgba(255, 0, 0, 0.8),
        0 0 20px rgba(255, 0, 0, 0.4);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
}

.nav-links a {
    color: #f0f0f0;
    text-decoration: none;
    transition: 0.3s;
    position: relative;
}

.nav-links a:hover {
    color: #ff3d3d;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: #ff2a2a;
    transition: 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}
.logo-container{
    display: flex;
    align-items: cetner;
    gap: 100;
}
.btn {
    display: inline-block;
    padding: 14px 32px;

    background: linear-gradient(
        180deg,
        #ff3b3b 0%,
        #c40000 50%,
        #7a0000 100%
    );

    color: white;
    text-decoration: none;
    font-family: 'Cinzel', serif;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;

    border: 2px solid #ff2a2a;
    border-radius: 10px;

    box-shadow:
        0 0 15px rgba(255, 0, 0, 0.4),
        inset 0 1px 0 rgba(255, 255, 255, 0.2);

    transition: all 0.25s ease;
    cursor: pointer;
}

.btn:hover {
    transform: translateY(-3px);

    background: linear-gradient(
        180deg,
        #ff5555 0%,
        #e00000 50%,
        #920000 100%
    );

    box-shadow:
        0 0 25px rgba(255, 0, 0, 0.7),
        0 0 40px rgba(255, 50, 50, 0.4);
}

.btn:active {
    transform: translateY(1px);

    box-shadow:
        0 0 10px rgba(255, 0, 0, 0.4),
        inset 0 2px 5px rgba(0, 0, 0, 0.4);
}

/* effet reflet premium */
.btn::before {
    content: "";
    position: absolute;
    top: -100%;
    left: -50%;
    width: 40%;
    height: 300%;
    background: rgba(255,255,255,0.15);
    transform: rotate(25deg);
    transition: 0.6s;
}

.btn:hover::before {
    left: 120%;
}

.btn {
    position: relative;
    overflow: hidden;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}